@import url("grade_create.css"); /* Yes, just reuse it */

#create-status,
#edit-status {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #66A5AD !important; /* seafoam green */
}

#edit-status.error {
    color: #d32f2f !important; /* keep red for error */
}

#edit-status.success {
    color: #66A5AD !important; /* seafoam green */
}
